
.mmd-products{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    margin-bottom: 22px;
}

.mmd-title{
    display: inline-block;
    background-color: #46bdf4;
    color: #04062e;
    border-radius: 10px;
    padding: 0 9px;
}

#mmd-logo-link{
    display: inline-block;
    border-radius: 10px;
    /* background-color: #fdfdfd; */
    padding: 5px 20px;
    /* width: 400px; */
    display: flex;
    line-height: 1.7;
    color: #f4f4f4;
}

#mmd-logo-link img{
    margin-right: 5px;
}

.small-text{
    font-size: 1rem;
    display: inline-block;
    font-weight: 100;
}